<section>
<div class="contenedor">
    <div class="tarjet">
        <figure>
      <img class="etiquetaImg" [src]="imagenJuego">
        </figure>
        <div class="contenido">
          <h1>{{nombreJuego}}</h1>
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/906/906325.png" alt="">
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/871/871377.png" alt="">
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/588/588258.png" alt="">
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/732/732221.png" alt="">
          <br>
          <a [routerLink]="['link1']" href="">Detalles</a>
        </div>
    </div>

</div>
</section>
