<section class="tarjets">
<div class="contenedor">
    <div class="tarjet">
        <figure>
      <img class="etiquetaImg" src="https://i.blogs.es/16ab98/fvc_k3txoamxgjc/1366_2000.jpeg" alt="">
        </figure>
        <div class="contenido">
          <h1>Fall Guys</h1>
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/906/906325.png" alt="">
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/871/871377.png" alt="">
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/588/588258.png" alt="">
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/732/732221.png" alt="">
          <br>
          <a href="">Detalles</a>
        </div>
    </div>

    <div class="tarjet">
        <figure>
      <img class="etiquetaImg" src="https://i.blogs.es/16ab98/fvc_k3txoamxgjc/1366_2000.jpeg" alt="">
        </figure>
        <div class="contenido">
          <h1>Fall Guys</h1>
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/906/906325.png" alt="">
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/871/871377.png" alt="">
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/588/588258.png" alt="">
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/732/732221.png" alt="">
          <br>
          <a href="">Detalles</a>
        </div>
    </div>

    <div class="tarjet">
        <figure>
      <img class="etiquetaImg" src="https://i.blogs.es/16ab98/fvc_k3txoamxgjc/1366_2000.jpeg" alt="">
        </figure>
        <div class="contenido">
          <h1>Fall Guys</h1>
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/906/906325.png" alt="">
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/871/871377.png" alt="">
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/588/588258.png" alt="">
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/732/732221.png" alt="">
          <br>
          <a href="">Detalles</a>
        </div>
    </div>

    <div class="tarjet">
        <figure>
      <img class="etiquetaImg" src="https://i.blogs.es/16ab98/fvc_k3txoamxgjc/1366_2000.jpeg" alt="">
        </figure>
        <div class="contenido">
          <h1>Fall Guys</h1>
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/906/906325.png" alt="">
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/871/871377.png" alt="">
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/588/588258.png" alt="">
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/732/732221.png" alt="">
          <br>
          <a href="">Detalles</a>
        </div>
    </div>

    <div class="tarjet">
        <figure>
      <img class="etiquetaImg" src="https://i.blogs.es/16ab98/fvc_k3txoamxgjc/1366_2000.jpeg" alt="">
        </figure>
        <div class="contenido">
          <h1>Fall Guys</h1>
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/906/906325.png" alt="">
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/871/871377.png" alt="">
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/588/588258.png" alt="">
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/732/732221.png" alt="">
          <br>
          <a href="">Detalles</a>
        </div>
    </div>

    <div class="tarjet">
        <figure>
      <img class="etiquetaImg" src="https://i.blogs.es/16ab98/fvc_k3txoamxgjc/1366_2000.jpeg" alt="">
        </figure>
        <div class="contenido">
          <h1>Fall Guys</h1>
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/906/906325.png" alt="">
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/871/871377.png" alt="">
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/588/588258.png" alt="">
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/732/732221.png" alt="">
          <br>
          <a href="">Detalles</a>
        </div>
    </div>

    <div class="tarjet">
        <figure>
      <img class="etiquetaImg" src="https://i.blogs.es/16ab98/fvc_k3txoamxgjc/1366_2000.jpeg" alt="">
        </figure>
        <div class="contenido">
          <h1>Fall Guys</h1>
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/906/906325.png" alt="">
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/871/871377.png" alt="">
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/588/588258.png" alt="">
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/732/732221.png" alt="">
          <br>
          <a href="">Detalles</a>
        </div>
    </div>

    <div class="tarjet">
        <figure>
      <img class="etiquetaImg" src="https://i.blogs.es/16ab98/fvc_k3txoamxgjc/1366_2000.jpeg" alt="">
        </figure>
        <div class="contenido">
          <h1>Fall Guys</h1>
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/906/906325.png" alt="">
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/871/871377.png" alt="">
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/588/588258.png" alt="">
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/732/732221.png" alt="">
          <br>
          <a href="">Detalles</a>
        </div>
    </div>

    <div class="tarjet">
        <figure>
      <img class="etiquetaImg" src="https://i.blogs.es/16ab98/fvc_k3txoamxgjc/1366_2000.jpeg" alt="">
        </figure>
        <div class="contenido">
          <h1>Fall Guys</h1>
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/906/906325.png" alt="">
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/871/871377.png" alt="">
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/588/588258.png" alt="">
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/732/732221.png" alt="">
          <br>
          <a href="">Detalles</a>
        </div>
    </div>

    <div class="tarjet">
        <figure>
      <img class="etiquetaImg" src="https://i.blogs.es/16ab98/fvc_k3txoamxgjc/1366_2000.jpeg" alt="">
        </figure>
        <div class="contenido">
          <h1>Fall Guys</h1>
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/906/906325.png" alt="">
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/871/871377.png" alt="">
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/588/588258.png" alt="">
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/732/732221.png" alt="">
          <br>
          <a href="">Detalles</a>
        </div>
    </div>

    <div class="tarjet">
        <figure>
      <img class="etiquetaImg" src="https://i.blogs.es/16ab98/fvc_k3txoamxgjc/1366_2000.jpeg" alt="">
        </figure>
        <div class="contenido">
          <h1>Fall Guys</h1>
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/906/906325.png" alt="">
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/871/871377.png" alt="">
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/588/588258.png" alt="">
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/732/732221.png" alt="">
          <br>
          <a href="">Detalles</a>
        </div>
    </div>

    <div class="tarjet">
        <figure>
      <img class="etiquetaImg" src="https://i.blogs.es/16ab98/fvc_k3txoamxgjc/1366_2000.jpeg" alt="">
        </figure>
        <div class="contenido">
          <h1>Fall Guys</h1>
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/906/906325.png" alt="">
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/871/871377.png" alt="">
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/588/588258.png" alt="">
          <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/732/732221.png" alt="">
          <br>
          <a href="">Detalles</a>
        </div>
    </div>


</div>
</section>
