<section class="tarjets">
    <div class="contenedor">
<div class="tarjet1">
    <img class="etiquetaImg" src="https://i.blogs.es/16ab98/fvc_k3txoamxgjc/1366_2000.jpeg" alt="">
    <h1>Fall Guys</h1>
    <img class="iconos" src="https://cdn-icons-png.flaticon.com/512/906/906325.png" alt="">
</div>

<div class="tarjet2">
    <img class="etiquetaImg" src="https://i.blogs.es/16ab98/fvc_k3txoamxgjc/1366_2000.jpeg" alt="">
    <p></p>
    <img class="iconos" src="" alt="">
</div>

<div class="tarjet3">
    <img class="etiquetaImg" src="https://i.blogs.es/16ab98/fvc_k3txoamxgjc/1366_2000.jpeg" alt="">
    <p></p>
    <img class="iconos" src="" alt="">
</div>

<div class="tarjet4">
    <img class="etiquetaImg" src="https://i.blogs.es/16ab98/fvc_k3txoamxgjc/1366_2000.jpeg" alt="">
    <p></p>
    <img class="iconos" src="" alt="">
</div>
<div class="tarjet5">
    <img class="etiquetaImg" src="https://i.blogs.es/16ab98/fvc_k3txoamxgjc/1366_2000.jpeg" alt="">
    <p></p>
    <img class="iconos" src="" alt="">
</div>
<div class="tarjet6">
    <img class="etiquetaImg" src="https://i.blogs.es/16ab98/fvc_k3txoamxgjc/1366_2000.jpeg" alt="">
    <p></p>
    <img class="iconos" src="" alt="">
</div>
<div class="tarjet7">
    <img class="etiquetaImg" src="https://i.blogs.es/16ab98/fvc_k3txoamxgjc/1366_2000.jpeg" alt="">
    <p></p>
    <img class="iconos" src="" alt="">
</div>
<div class="tarjet8">
    <img class="etiquetaImg" src="https://i.blogs.es/16ab98/fvc_k3txoamxgjc/1366_2000.jpeg" alt="">
    <p></p>
    <img class="iconos" src="" alt="">
</div>
<div class="tarjet9">
    <img class="etiquetaImg" src="https://i.blogs.es/16ab98/fvc_k3txoamxgjc/1366_2000.jpeg" alt="">
    <p></p>
    <img class="iconos" src="" alt="">
</div>
<div class="tarjet10">
    <img class="etiquetaImg" src="https://i.blogs.es/16ab98/fvc_k3txoamxgjc/1366_2000.jpeg" alt="">
    <p></p>
    <img class="iconos" src="" alt="">
</div>
<div class="tarjet11">
    <img class="etiquetaImg" src="https://i.blogs.es/16ab98/fvc_k3txoamxgjc/1366_2000.jpeg" alt="">
    <p></p>
    <img class="iconos" src="" alt="">
</div>
</div>
</section>
